<div class="col-5"></div>
<div class="container my-5 pt-5 pb-3 col-5">
  <div *ngIf="sprint">
    <h2>{{ sprint.name | uppercase }} Details</h2>
    <hr />
    <form #sprintForm="ngForm" (ngSubmit)="editSprint(sprintForm)">
      <div class="form-group">
        <label for="id">Id</label>
        <input
          type="text"
          class="form-control"
          id="id"
          placeholder="Enter id"
          [(ngModel)]="sprint._id"
          name="_id"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter name"
          [(ngModel)]="sprint.name"
          name="name"
          minlength="4"
          #name="ngModel"
          [disabled]="!isAdmin"
          required
        />
        <div
          *ngIf="name.errors && (name.dirty || name.touched)"
          class="alert alert-danger"
        >
          <div [hidden]="!name.errors.required">
            Name is required
          </div>
          <div [hidden]="!name.errors.minlength">
            Name should be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="createDate">Create Date</label>
        <input
          type="text"
          class="form-control"
          id="createDate"
          [(ngModel)]="sprint.createDate"
          name="createDate"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="createdBy">Created By</label>
        <input
          type="text"
          class="form-control"
          id="createdBy"
          [(ngModel)]="sprint.createdBy.name"
          name="createdBy"
          disabled
        />
      </div>

      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          type="checkbox"
          id="isClosed"
          [(ngModel)]="sprint.isClosed"
          name="isClosed"
          [disabled]="!isAdmin"
        />
        <label class="custom-control-label" for="isClosed">Is Closed</label>
      </div>

      <h5 class="mt-5">
        Subtasks
        <button
          type="button"
          class="btn btn-success btn-circle"
          (click)="ngxSmartModalService.getModal('sprintModal').open()"
        >
          <i class="fas fa-plus"></i>
        </button>
      </h5>
      <table class="table table-hover mt-3">
        <thead class="thead bg-primary text-white">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="sprint.subtasks.length; else elseBlock">
          <tr *ngFor="let task of sprint.subtasks; index as i">
            <td>{{ i + 1 }}</td>
            <td>
              {{
                task.name.length > 15
                  ? (task.name | slice: 0:14) + "..."
                  : task.name
              }}
            </td>
            <td *ngIf="task.assignedTo?.name">
              {{
                task.assignedTo?.name.length > 15
                  ? (task.assignedTo.name | slice: 0:14) + "..."
                  : task.assignedTo.name
              }}
            </td>
            <td *ngIf="!task.assignedTo?.name">no one</td>
            <td>{{ task.status }}</td>
            <td>{{ task.priority }}</td>
            <td class="text-center align-middle">
              <button
                type="button"
                class="btn btn-danger btn-circle ml-2"
                (click)="deleteSubTask(sprint._id, task._id)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <ng-template #elseBlock>
          <tbody>
            <tr>
              <td>---</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
      <br />
      <div class="row justify-content-end">
        <button class="btn btn-success mr-4" [routerLink]="['/sprints']">
          Back
        </button>
        <button *ngIf="isAdmin" type="submit" class="btn btn-primary mr-4">
          Save
        </button>
        <button
          *ngIf="!isAdmin"
          type="button"
          class="btn btn-primary mr-4"
          [routerLink]="['/sprints']"
        >
          Save
        </button>
        <button
          *ngIf="isAdmin"
          class="btn btn-danger"
          (click)="deleteSprint(sprint._id)"
        >
          Remove
        </button>
      </div>
    </form>
  </div>
</div>

<ngx-smart-modal #sprintModal identifier="sprintModal">
  <h5>Subtasks</h5>
  <table class="table table-sm table-hover">
    <thead class="thead bg-primary text-white">
      <tr>
        <th>Name</th>
        <th>Assigned To</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>
          {{
            task.name.length > 15
              ? (task.name | slice: 0:14) + "..."
              : task.name
          }}
        </td>
        <td *ngIf="task.assignedTo?.name">
          {{
            task.assignedTo?.name.length > 15
              ? (task.assignedTo.name | slice: 0:14) + "..."
              : task.assignedTo.name
          }}
        </td>
        <td *ngIf="!task.assignedTo?.name">no one</td>
        <td>{{ task.priority }}</td>
        <td class="text-center align-middle">
          <button
            type="button"
            class="btn btn-success btn-circle"
            (click)="addSubTasks(sprint._id, task._id)"
          >
            <i class="fas fa-plus"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="sprintModal.close()">Close</button>
</ngx-smart-modal>
