<div class="col-2"></div>
<div class="container mt-5 pt-5 pb-3 col-10 mr-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-white bg-primary">
          Tasks for each status
        </div>
        <div class="card-body">
          <div [hidden]="!statusChart">
            <canvas id="statusChart">{{ statusChart }}</canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header text-white bg-primary">
          Tasks for each user
        </div>
        <div class="card-body">
          <div [hidden]="!assignedChart">
            <canvas id="assignedChart">{{ assignedChart }}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
