<div class="col-2"></div>
<div class="container my-5 pt-5 col-10 mr-5">
  <div class="container">
    <div class="jumbotron bg-primary text-white">
      <h1 class="display-3">PMT tracker <i class="fas fa-kiwi-bird"></i></h1>
      <p class="lead">
        This is the last project tracker you will need to succed in business!
      </p>
      <hr class="my-4" />
      <p>
        We know that you are busy and have no time to look for a project
        management tool. That's why without further addo we present you a remedy
        for all your problems!
      </p>
    </div>
    <div class="jumbotron bg-white">
      <h1 class="display-5">Is it hard to migrate?</h1>
      <p class="lead">
        If you use another project management tool migration could not be
        easier...
      </p>
      <hr class="my-4" />
      <p>
        Simply add all your tasks, sprints and projects to PMT and we will do
        the rest! If you have any questions at all you can call our support team
        anytime.
      </p>
      <img
        src="../../assets/images/projects_view.png"
        alt="statistics"
        class="img-fluid mt-2"
      />
    </div>

    <div class="jumbotron bg-white">
      <h1 class="display-5">Is it hard to use?</h1>
      <p class="lead">
        If you use another software (like for example J***) then it will be a
        brezze...if not...well you will learn
      </p>
      <hr class="my-4" />
      <p>
        Our engineers have worked tirelessly to present you this beautifull copy
        of the most popular project management tool.
      </p>
      <img
        src="../../assets/images/board_view.png"
        alt="statistics"
        class="img-fluid mt-2"
      />
    </div>
    <div class="jumbotron bg-white">
      <h1 class="display-5">Are there statistics of tasks in PMT?</h1>
      <p class="lead">
        Right now we provide statistics for amount of:
      </p>
      <ul class="lead">
        <li>assigned tasks</li>
        <li>tasks with each status</li>
      </ul>
      <hr class="my-4" />
      <img
        src="../../assets/images/stats_view.png"
        alt="statistics"
        class="img-fluid"
      />
    </div>
    <div class="jumbotron bg-white">
      <h1 class="display-5">What is the price?</h1>
      <p class="lead">
        Price is very reasonable for a product which is...just the best!
      </p>
      <hr class="my-4" />
      <p>
        Simply pay us 10$ monthly and you can start changing the world. We also
        think that our product is so good that if you are not satisfied with
        results we will give you all your money back (anytime).
      </p>
      <div class="d-flex justify-content-around">
        <img
          src="../../assets/images/dolar.png"
          alt="statistics"
          class="img-fluid mt-2"
        />
      </div>
    </div>
    <div class="jumbotron bg-white">
      <h1 class="display-5">We hope you will enjoy your work with PMT!</h1>
      <p class="lead">
        If you have any questions whatsoever call our support center. We would
        answer all your questions.
      </p>
      <hr class="my-4" />
      <p>Take it for a spin, first week is totally FREE.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" [routerLink]="['/home']" role="button"
          >Go to board</a
        >
      </p>
    </div>
  </div>
</div>
